:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* AsapButton.css */
.asap-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  /* Default styles, can be overridden by inline styles */
  background-color: #6772e5;
  color: white;
  font-size: 16px;
  width: auto;
  height: auto;
}

.asap-button:hover {
  background-color: #5469d4;
}

.asap-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.asap-modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 90%;
}

.asap-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.asap-modal-header-title {
  display: flex;
}

.asap-modal-header-title h2 {
  margin-top: 0;
  margin-left: 10px;
  /* font-size: 20px; */
  font-weight: bolder;
  color: #333;
}

.asap-modal-body {
  text-align: center;
  color: black;
}

.close {
  cursor: pointer;
}

.asap-modal-buttons {
  display: block;
  margin-top: 25px;
}

.asap-modal-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 100%;
}

.asap-modal-button.wallet {
  background-color: white;
  color: #333;
}

.asap-modal-button.wallet:hover {
  background-color: #0183FF;
}

.asap-modal-button.w3m {
  background-color: white;
  color: #333;
}

.asap-modal-button.w3m:hover {
  background-color: #01A8FF;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .asap-modal-content {
    padding: 20px;
    width: 95%;
  }

  .asap-modal-buttons {
    flex-direction: column;
  }

  .asap-modal-button {
    width: 100%;
  }
}